.navbar-btn {
    background-color: #ffffff;
    color: #f76f00;
}

.btn-large {
    background-color: #f76f00;
    color: #ffffff;
}

.active {
    background-color: #f76f00;
    color: #ffffff;
}

.navbar {
    background-color: #f76f00;
}

.small {
    color: #000000
}
