.navbar-btn {
    background-color: #ffffff;
    color: #f76f00;
}

.btn-block {
    background-color: #ffffff;
    color: #f76f00;
}

.navbar {
    background-color: #f76f00;
}

.small {
    color: #000000
}
